<div class="well well-lg">
    CSS is a place for students with interests in technology, as it pertains to software, to meet up and learn more
    about the field. Students learn from other like-minded students and from the many visiting guest speakers on topics
    that are current and relevant to the industry. Topics often include software development, programming languages,
    game development, operating systems and many other topics both big and small. We will also be hosting events,
    seminars, and workshops outside of regular meeting so stay tuned!
</div>