<ul>
    <li>President - Max Wolotsky</li>
    <li>Co-President - Crisrael Lucero</li>
    <li>Vice President - Jonathan Bassi & Josue Herrera</li>
    <li>Treasurer - Daniel Choi</li>
    <li>Secretary - Carter Slocum & Daniel Gamboa</li>
    <li>ACM-W Chair - Emily Le</li>
    <li>Public Representative - Wynne Tran</li>
    <li>Co-Public Representative - Victor Darkes & Sasha Klimenko</li>
    <li>Web Master - Brandon Smith & Daniel Madatovian</li>
    <li>Science Council Representative - Devan Sexton</li>
    <li>Historian - Michael Kang & Roc Carter</li>
    <li>Sophomore Representative - Tony Chaw</li>
    <li>Freshman Representative - Lloyd Zhang</li>
</ul>