{% extends "layout.html" %}
{% block content %}
    <div>
        <h1>CSS Membership</h1>

        <p>Cost: $30</p>

        <p>* Membership is open to all majors</p>

        <h3>Benefits:</h3>
        <ul>
            <li>Full participation in all CSS Events</li>
            <li>1-year Student Chapter ACM Membership (you can view details HERE)</li>
            <li>Food at most meetings</li>
            <li>Club T-shirt</li>
            <li>Honor Cord at Graduation</li>
        </ul>

        <h3>What is ACM?</h3>
        <p> Association for Computing Machinery, ACM, is organized into over 170 local chapters. ACM has events and
            chapters all over the world. An amazing membership for those interested in Advancing Computer Science as a
            Science & Profession. If you have any questions or would like to contact us for more information, please
            email us! <a href="mailto:css@cpp.edu">css@cpp.edu</a>
        </p>

        <h3>How to pay:</h3>
        <p> You can pay for membership at our general meetings (see Calendar for events). Cash or check accepted. For
            checks, please make them payable to Cal Poly Pomona Computer Science Society.
        </p>
    </div>
{% endblock %}