<nav class="nav">
    <div class="container">
        <ul class="nav navbar-nav social-icons">
            <li class="nav-item">
                <a href="https://www.facebook.com/groups/cppcss/">Facebook<i class="glyphicon glyphicon-thumbs-up"></i></a>
            </li>
            <li class="nav-item">
                <a href="http://twitter.com/">twitter<i class="glyphicon glyphicon-inbox"></i></a>
            </li>
            <li class="nav-item"><a href="http://google.com/">google+<i class="glyphicon glyphicon-plus"></i></a></li>
            <li class="nav-item"><a href="http://youtube.com/">youtube<i class="glyphicon glyphicon-hd-video"></i></a></li>
            <li class="nav-item"><a href="http://webchat.freenode.net/">irc<i class="glyphicon glyphicon-console"></i></a></li>
        </ul>
    </div>
</nav>